---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Barry Namdari";
---
<Layout pageTitle={pageTitle}>
    <div class="profile-container">
        <img class="profile-image" width="300" height="300" alt="Profile picture" src="/profilepic.png"/>
    </div>
    <h1>Hej jag är <span class="highlight">Barry</span></h1>
    <span class="badge">Devops Engineer (Studerande)</span>
    <h2>Om mig</h2>
    <p>
        Min resa började som fotbollstränare, att vara en del av ett team som som tar sig an ett mål med blod, svett, ilska och glädje. Att se spelarna växa, inte bara i fotbollskonst utan som människor, med insikter om teamwork de tar med sig livet ut. <p>

<p>
Nästa steg var Ämneslärare inom språk, att hjälpa elever förvärva kunskaper som öppnar dörrar mot världen, kulturer och relationer. Även utvecklingen här, att ständigt lära sig nytt och att gå från att repetera fraser till att faktiskt uttrycka sina  tankar med flyt och självförtroende.
<p>

<p>
Sedan kom idén att utforska mitt teknikintresse. Så jag läste till IT-Projekledare som ledde till anställning som Scrum Master/Projektledare. Här drev jag förbättringsarbete som sätter teamen, människorna och deras arbetssätt i fokus, inte genom ett långt möte var tredje månad utan snarare korta samtal och faktiska framsteg varje vecka. <p>

<p>
Men sedan började det klia i fingrarna! <br>
Jag kom i kontakt med automatisering, pipelines, CI-CD och cloud arkitektur. <br>
- "Detta är ju väldigt likt det jag håller på med, fast inriktat mot mjukvara och ingenjörskonst." <br>
Där och då tog jag beslutet att bli Mjukvaruutvecklare med fokus på DevOps. 
<p>


<p>
Så nu spelar jag också trumpet och violin i orkestern, än att bara vara dirigenten.
    </p>

    <div class="center">
        <a href="/works/">
            <button class="btn">Läs bloggen</button>
        </a>
    </div>
    <h2>Vad jag hittills lärt mig</h2>
    <div class="skills center">
        <img class="skills__img" width="55" height="55" alt="C#" src="https://api.iconify.design/skill-icons/cs.svg"/>

<img class="skills__img" width="55" height="55" alt="DotNet" src="https://api.iconify.design/skill-icons/dotnet.svg"/>

<img class="skills__img" width="55" height="55" alt="JavaScript" src="https://api.iconify.design/skill-icons/javascript.svg"/>

<img class="skills__img" width="55" height="55" alt="CSS" src="https://api.iconify.design/skill-icons/css.svg"/>


<img class="skills__img" width="55" height="55" alt="HTML" src="https://api.iconify.design/skill-icons/html.svg"/>

<img class="skills__img" width="55" height="55" alt="Azure" src="https://api.iconify.design/skill-icons/azure-light.svg"/>

<img class="skills__img" width="55" height="55" alt="Terraform" src="https://api.iconify.design/skill-icons/terraform-light.svg"/>

<img class="skills__img" width="55" height="55" alt="Docker" src="https://api.iconify.design/skill-icons/docker.svg"/>

<img class="skills__img" width="55" height="55" alt="GitLab" src="https://api.iconify.design/skill-icons/gitlab-light.svg"/>

<img class="skills__img" width="55" height="55" alt="Git" src="https://api.iconify.design/skill-icons/git.svg"/>

<img class="skills__img" width="55" height="55" alt="GitHub" src="https://api.iconify.design/skill-icons/github-light.svg"/>

<img class="skills__img" width="55" height="55" alt="GitHub Actions" src="https://skillicons.dev/icons?i=githubactions"/>



<img class="skills__img" width="55" height="55" alt="Postman" src="https://api.iconify.design/skill-icons/postman.svg"/>

<img class="skills__img" width="55" height="55" alt="MongoDB" src="https://api.iconify.design/skill-icons/mongodb.svg"/>

<img class="skills__img" width="55" height="55" alt="NodeJS" src="https://api.iconify.design/skill-icons/nodejs-light.svg"/>


<img class="skills__img" width="55" height="55" alt="Bootstrap" src="https://api.iconify.design/skill-icons/bootstrap.svg"/>


<img class="skills__img" width="55" height="55" alt="SQL Server" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg"/>

<img class="skills__img" width="55" height="55" alt="SQL Server" src="https://symbols.getvecta.com/stencil_28/61_sql-database-generic.90b41636a8.svg"/>



    </div>
    <h2></h2>
    <p>
      
    </p>
</Layout>

