---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Barry Namdari";
---
<Layout pageTitle={pageTitle} containerType="default">
    <div class="profile-container">
        <img class="profile-image" width="300" height="300" alt="Profile picture" src="/profilepic.png"/>
    </div>
    <h1>Hej jag är <span class="highlight">Barry</span></h1>
    <span class="badge">Devops Engineer (Studerande)</span>
    <div class="paper-section">
    <h2>Om mig</h2>
    <p>
        Min resa började som fotbollstränare, att bygga teamkultur
        och arbetsmetodik som tar oss mot gemensamma mål. Att se spelarna
        växa, både på planen och som människor, var inspirerande för mig.
</p>

<p>
    Sedan blev jag språklärare och hjälpte elever att öppna dörrar till
    världen genom språk. Jag fascinerades av hur de gick från att repetera
    fraser till att uttrycka sig med flyt och självsäkerhet.
</p>

<p>
    Mitt intresse för teknik ledde mig till att byta bransch och bli
    IT-projektledare och senare Scrum Master. Jag drev förbättringsarbete
    med fokus på team och effektiva arbetsmetoder.
</p>

<p>
    Snart upptäckte jag Cloud-arkitektur, systemutveckling och CI/CD. 
    "Detta är ju samma tänk, fast för mjukvara!" <br> Då beslöt jag mig för att
    utbilda mig till mjukvaruutvecklare med inriktning Cloud & DevOps.
</p>

<p>
    Så nu spelar jag också trumpet och violin i orkestern, än att bara 
    vara dirigenten.
</p>
    </div>

    <div class="center">
        <a href="/learn-hub/">
            <button class="btn">Learn Hub</button>
        </a>
    </div>
    <h2>Vad jag hittills lärt mig:</h2>
    <div class="skills center">
        <img class="skills__img" width="55" height="55" alt="C#" src="https://api.iconify.design/skill-icons/cs.svg"/>

<img class="skills__img" width="55" height="55" alt="DotNet" src="https://api.iconify.design/skill-icons/dotnet.svg"/>

<img class="skills__img" width="55" height="55" alt="JavaScript" src="https://api.iconify.design/skill-icons/javascript.svg"/>

<img class="skills__img" width="55" height="55" alt="CSS" src="https://api.iconify.design/skill-icons/css.svg"/>


<img class="skills__img" width="55" height="55" alt="HTML" src="https://api.iconify.design/skill-icons/html.svg"/>

<img class="skills__img" width="55" height="55" alt="Azure" src="https://api.iconify.design/skill-icons/azure-light.svg"/>

<img class="skills__img" width="55" height="55" alt="Terraform" src="https://api.iconify.design/skill-icons/terraform-light.svg"/>

<img class="skills__img" width="55" height="55" alt="Docker" src="https://api.iconify.design/skill-icons/docker.svg"/>

<img class="skills__img" width="55" height="55" alt="GitLab" src="https://api.iconify.design/skill-icons/gitlab-light.svg"/>

<img class="skills__img" width="55" height="55" alt="Git" src="https://api.iconify.design/skill-icons/git.svg"/>

<img class="skills__img" width="55" height="55" alt="GitHub" src="https://api.iconify.design/skill-icons/github-light.svg"/>

<img class="skills__img" width="55" height="55" alt="GitHub Actions" src="https://skillicons.dev/icons?i=githubactions"/>



<img class="skills__img" width="55" height="55" alt="Postman" src="https://api.iconify.design/skill-icons/postman.svg"/>

<img class="skills__img" width="55" height="55" alt="MongoDB" src="https://api.iconify.design/skill-icons/mongodb.svg"/>

<img class="skills__img" width="55" height="55" alt="NodeJS" src="https://api.iconify.design/skill-icons/nodejs-light.svg"/>


<img class="skills__img" width="55" height="55" alt="Bootstrap" src="https://api.iconify.design/skill-icons/bootstrap.svg"/>


<img class="skills__img" width="55" height="55" alt="SQL Server" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg"/>

<img class="skills__img" width="55" height="55" alt="SQL Server" src="https://symbols.getvecta.com/stencil_28/61_sql-database-generic.90b41636a8.svg"/>



    </div>
    <h2></h2>
    <p>
      
    </p>
</Layout>

