---
import ThemeIcon from './ThemeIcon.astro';
import { navigationItems } from '../data/navigation';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Barry.Namdari</a>
    </div>
    <div class="navbar__menu">
        {navigationItems
            .filter(item => item.isEnabled)
            .map(item => (
                    <a
                            href={item.path}
                            target={item.isExternal ? "_blank" : undefined}
                    >
                        {item.title}
                    </a>
            ))
        }
        <ThemeIcon />
    </div>
</div>